.create-new-spot-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff385c;
  color: #fff;
  text-decoration: none;
}

.spot-list {
  grid-gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px 40px;
}

@media (min-width: 1300px) {
  .spot-list {
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}

@media (min-width: 1024px) and (max-width: 1299px){
  .spots-main{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

.ui.link.cards .card {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image .spot-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.content {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-size: 18px;
  font-weight: bold;
}

.meta.price {
  font-size: 14px;
  color: #888;
}

.meta {
  font-size: 14px;
  color: #777;
}

.spot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-info-left {
  text-align: left;
}

.spot-info-right {
  text-align: right;
}

.spot-info-right i {
  margin-right: 5px;
}

/* .h1 {
  text-align: center;
  justify-content: center;
} */
