.create-new-spot-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff385c;
  color: #fff;
  text-decoration: none;
}

/* .four-column-wide .spot-info-left .header,
.four-column-wide .spot-info-left .meta.price,
.four-column-wide .spot-info-right .spot-rating {
  text-decoration: none;
} */

.spot-update-and-delete-container{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-grow: 1;
}

.spot-list {
  grid-gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px 40px;
  text-decoration: none;
}

@media (min-width: 1300px) {
  .spot-list {
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}

@media (min-width: 1024px) and (max-width: 1299px){
  .spots-main{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

.ui.link.cards .card {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image .spot-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.content {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-decoration: none !important;
  white-space: nowrap;
}

.meta.price {
  font-size: 14px;
  color: #000000;
  text-decoration: none !important;
}

.meta {
  font-size: 14px;
  color: #000000;
}

.spot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-rating{
  color: #000000 !important;
}

.spot-info-left {
  text-align: left;
}

.spot-info-right {
  text-align: right;
  text-decoration: none !important;
}

.spot-info-right i {
  margin-right: 5px;
}

.spot-update-and-delete-container button {
  background-color: #ff5a5f;
  border: 1px solid #000;
  color: #fffbff;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  padding: 5px;
  text-decoration: none !important;
}

/* .h1 {
  text-align: center;
  justify-content: center;
} */

.update-spot-navlink{
  text-decoration: none !important;
  color: inherit;
}

.manage-spots-header{
  padding: 10px 2.5rem;
}