.logged-in-li {
  display: flex;
  gap: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 20px;
  font-weight: bold;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Remove list styles */
.nav-menu ul {
  list-style: none;
}

/* Navigation Links */
.nav-menu li {
  margin-right: 20px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu .nav-link {
  color: #555555;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu .nav-link:hover {
  color: #4caf50;
}

.logo {
  height: 50px;
  width: auto;
}

.logged-in-li {
  margin-left: auto;
}

.logged-out-links {
  display: flex;
}

.logged-out-links .nav-link {
  margin-right: 10px;
}

.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  margin-bottom: 5px;
  white-space: nowrap;
}

.profile-dropdown button {
  background: none;
  border: none;
  color: #4caf50;
  font-size: 16px;
  cursor: pointer;
}

.profile-dropdown button:hover {
  text-decoration: underline;
}

.profile-button-container {
  position: relative; /* this is important for positioning the dropdown */
  display: flex;
  align-items: center;
}

.profile-dropdown li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.profile-dropdown li {
  transition: background-color 0.3s ease;
}

.profile-button-container {
  display: flex;
  align-items: center;
}

.profile-button-container a {
  margin-right: 20px;
  color: #555555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.profile-button-container a:hover {
  color: #4caf50;
}

.navbar-app-title {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  color: #555555;
  margin-left: 15px;
}

.navbar-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
